body{
    text-align: center;
    background-color: aqua;
}
#family_img{
    width: 290px;
}
button{
    font-size: 25px;
    background-color: bisque;
    border-radius: 20px;
    color: black;
}
h1{
    font-size: 20px;
    color: coral;
    text-decoration: underline;
}
h3{
    font-size: 30px;
    color: darkmagenta;
    font-weight: bold;
    text-decoration: underline;
}